<!-- <div class="div-black-box">Shell</div>
<div>
    <input type="text" (ngModelChange)="onChangeInput()" [(ngModel)]="message" />
</div>
<div>
    <img src="assets/images/Warning_Icon_GreyCircle.png" />
</div> -->
<div class="head">
    <div class="profile">
        <img src="assets/images/header_user.svg" />
        <span class="user-name">Username</span>
    </div>
</div>
<div class="container">
    <div class="side-menu">
        <div class="item">
            <input type="radio" id="themes1" name="theme" value="theme-a" (change)="onChangeTheme($event)">
            <label for="theme">Theme1</label>
        </div>

        <div class="item">
            <input type="radio" id="themes2" name="theme" value="theme-b" (change)="onChangeTheme($event)">
            <label for="theme">Theme2</label>
        </div>

    </div>
    <div class="right-container">
        <div class="card-row">
            <div class="card">
                <div class="card-head">
                    <i class="icon-button search-icon"></i>
                    <span>Card Header</span>
                </div>

            </div>
            <div class="card">
                <div class="card-head">
                    <span>Card Header</span>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <span>Card Header</span>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <span>Card Header</span>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <span>Card Header</span>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <span>Card Header</span>
                </div>
            </div>
        </div>

        <div class="card-row margin-t20">
            <div class="card">
                <div class="card-head">
                    <span>Card Header</span>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <span>Card Header</span>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <span>Card Header</span>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <span>Card Header</span>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <span>Card Header</span>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <span>Card Header</span>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- <button (click)="onChangeColor('_color_a.css')">A</button>
<button (click)="onChangeColor('_color_b.css')">B</button> -->
<!-- 
<button (click)="onChangeColor('light')">A</button>
<button (click)="onChangeColor('dark')">B</button> -->
<router-outlet></router-outlet>