/* You can add global styles to this file, and also import other style files */
.div-black-box {
    width: 100px;
    height: 100px;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-red-box {
    width: 100px;
    height: 100px;
    background-color: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}