@import "variables.scss";

.card-head {
   span {
      font-size: 15px;
      color: var(--light);
      font-family: sans-serif;
   }
 }




.head {
   font-family: sans-serif;
}

 .container {
     font-family: sans-serif;
     color: var(--light);
}

.search-icon {
   background-position: -49px -72px;
 }
 