
.card-head {
    span {
        font-size: 20px;
        color: var(--light);
    }
}

.head {
    font-family: serif;
}

  .container {
      font-family: serif;
      color: var(--light);
 }

 .search-icon {
    background-position: 0 -24px !important;
  }
  
