.light {
    --primary: #3E2723;
    --secondary: #4E342E;
    --color1: #5D4037;
    --color2:#6D4C41;
    --color3: #795548;
    --color4:#EFEBE9;
    --light: #fff;
    --dark: #000;
}

.dark {
    --primary: #263238;
    --secondary: #37474F;
    --color1: #455A64;
    --color2:#607D8B;
    --color3: #90A4AE;
    --color4:#ECEFF1;
    --light: #fff;
    --dark: #000;
}
  